# Configuration file

"gameplay changes" {
    # How often the adventure block checks for players, in ticks [range: 5 ~ 20, default: 20]
    I:adventureBlockUpdateRate=20

    # Killing cows with an axe drops more leather but no beef [default: true]
    B:axeForLeather=true

    # Bottles consume water source block [default: true]
    B:bottlesConsumeSourceBlock=true

    # Disables creation of water source blocks [default: true]
    B:finiteWater=true

    # Disables the use of the enchanting table [default: true]
    B:preventEnchanting=true
}


"gravity blocks" {
    # Enable block fracturing [default: true]
    B:enableBlockFracturing=true

    # Enable block gravity [default: true]
    B:enableBlockGravity=true

    # List of blocks that can fracture neighbour blocks and their chance of falling (blockname@chance) [default: [minecraft:stone@0.8], [minecraft:cobblestone@0.4]]
    S:fracturingBlocks <
        minecraft:stone@0.4
        minecraft:cobblestone@0.2
        minecraft:gold_ore@0.4
        minecraft:coal_ore@0.4
        minecraft:lapis_ore@0.4
        minecraft:diamond_ore@0.4
        minecraft:redstone_ore@0.4
        minecraft:emerald_ore@0.4
        embers:ore_copper@0.4
        embers:ore_lead@0.4
        embers:ore_silver@0.4
        embers:ore_quartz@0.4
     >

    # List of blocks and their chance of falling (blockname@chance) [default: [minecraft:stone@0.1], [minecraft:cobblestone@0.6], [minecraft:log@0.3], [minecraft:log2@0.3], [minecraft:leaves@0.6], [minecraft:dirt@0.4], [minecraft:grass@0.2]]
    S:gravityBlocks <
        minecraft:cobblestone@0.6
        minecraft:leaves@0.3
        minecraft:dirt@0.3
        minecraft:grass@0.1
     >

    # Falling blocks hurt players [default: true]
    B:gravityBlocksHurt=true

    # Tools with a quality above or equal this value do not fracture blocks [range: 0 ~ 10, default: 4]
    I:maxHarvestLevelToFracture=4
    B:reloadBQOnStart=true

    # Slik touch prevents neighbouring blocks from fracturing [default: true]
    B:silkPreventsFracturing=true

    # Slik touch prevents neighbouring blocks from falling [default: true]
    B:silkPreventsGravity=true
}


"sleep changes" {
    # At what time the player can sleep, in hours [range: 0 ~ 23, default: 22]
    I:bedTimeHour=22

    # How much food and saturation player looses when sleeping [range: 0 ~ 20, default: 14]
    I:lostFoodOnSleep=14

    # Prevents sleep until [BedTimeHour] [default: true]
    B:preventEarlySleep=true

    # Apply debuffs when sleeping [default: true]
    B:sleepDebuffs=true

    # How long the weakness debuff lasts after sleeping [range: 0 ~ 2147483647, default: 2400]
    I:sleepWeaknessDuration=2400
}


